<% layout("/layouts/boilerplate.ejs"); %>


<body>
    <div class="outer-men">
        <h2 class="dash-men-products-heading">Mens's Product</h2>
    <div class="dash-men-products">
        <% for(let men of menData){%>
            <div class="dash-men-product-card">
                <div class="dash-men-product-card-imgDiv">
                    <img src="<%=men.img.url%>" alt="product" class="dash-men-product-card-img">
                </div>
                <p class="dash-men-product-id dash-men-product-elems">
                    <b>Product ID: </b> <%=men._id%>
                </p>
                <p class="dash-men-product-name dash-men-product-elems">
                    <b>Product Name: </b><%=men.name%>
                </p>
                <p class="dash-men-product-description dash-men-product-elems">
                    <b>Product Description: </b><%=men.description%>
                </p>
                <p class="dash-men-product-price dash-men-product-elems">
                    <b>Product Price: </b><%=men.price%>
                </p>
                <p class="dash-men-product-stock dash-men-product-elems">
                    <b>Product stock: </b><%=men.stock%>
                </p>
                <a href="/men/<%=men._id%>/edit" class="dash-men-product-elems-a">Edit Product</a>
            </div>
        <%}%>
    </div>
    </div>
    <div class="outer-women">
        <h2 class="dash-men-products-heading">Women's Product</h2>
    <div class="dash-men-products">
        <% for(let women of womenData){%>
            <div class="dash-men-product-card">
                <div class="dash-men-product-card-imgDiv">
                    <img src="<%=women.img.url%>" alt="product" class="dash-men-product-card-img">
                </div>
                <p class="dash-men-product-id dash-men-product-elems">
                    <b>Product ID: </b> <%=women._id%>
                </p>
                <p class="dash-men-product-name dash-men-product-elems">
                    <b>Product Name: </b><%=women.name%>
                </p>
                <p class="dash-men-product-description dash-men-product-elems">
                    <b>Product Description: </b><%=women.description%>
                </p>
                <p class="dash-men-product-price dash-men-product-elems">
                    <b>Product Price: </b><%=women.price%>
                </p>
                <p class="dash-men-product-stock dash-men-product-elems">
                    <b>Product stock: </b><%=women.stock%>
                </p>
                <a href="/women/<%=women._id%>/edit" class="dash-men-product-elems-a">Edit Product</a>
            </div>
        <%}%>
    </div>
    </div>

</body>