<% layout("/layouts/boilerplate.ejs") %>

<div id="outerDivOfTable">
    <h2>All Users</h2>
    <table>
        <tr class="table-row">
            <th class="table-row-data">Username</th>
            <th class="table-row-data">Email</th>
            <th class="table-row-data">Access</th>
            <th class="table-row-data">Select Access</th>
        </tr>
        <% for(let user of usersData){%>
            <tr class="table-row">
                    <form action="/users/<%=user._id%>?_method=PUT" method="POST">
                    <td class="table-row-data"><%=user.username%></td>
                    <td class="table-row-data"><%=user.email%></td>
                    <td class="table-row-data"><%=user.access%></td>
                    <td class="table-row-data">
                        <select name="access" id="access1">
                            <option value="<%=user.access%>">Choose Access</option>
                            <option value="customer">Customer</option>
                            <option value="deliverer">Deliverer</option>
                            <option value="admin">Admin</option>
                        </select>
                    </td>
                    <td class="table-row-data"><button class="btn btn-primary">Edit User</button></td>
                </form>
            </tr>
        <%}%>
    </table>
</div>

