<% layout("/layouts/boilerplate.ejs") %>
    <body>
        <div class="parent-cart-div">
            <h2>Items</h2>
            <% let totalPrice = 0 %>
            <div class="outer-cart-div">
                <% for(let item of cart.mensProduct){%>
                    <div class="inner-cart-div">
                        <img src="<%=item.img.url%>" alt="">
                        <p class="inner-cart-div-p">
                            <%=item.name%>
                        </p>
                        <p class="inner-cart-div-p">
                            <%=item.price%>
                            <% totalPrice = totalPrice + item.price %>
                        </p>
                    </div>
                    <%}%>
            </div>
            <div class="outer-cart-div">
                <% for(let item of cart.womensProduct){%>
                    <div class="inner-cart-div">
                        <img src="<%=item.img.url%>" alt="">
                        <p class="inner-cart-div-p">
                            <%=item.name%>
                        </p>
                        <p class="inner-cart-div-p">
                            <%=item.price%>
                            <%totalPrice = totalPrice + item.price %>

                        </p>
                    </div>
                <%}%>
            </div>
            <form action="/order/<%=cart._id%>/<%=address._id%>" method="POST" class="total-price-form">
                <label for="totalPrice1">Total Price</label>
                <input type="number" value="<%-totalPrice%>" id="totalPrice1" name="totalprice" readonly>
                <button class="btn btn-success mt-2">Confirm Order</button>
            </form>
        </div>

    </body>